---
---
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="referrer" content="always">
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="순대공장 신창식품&amp;신토리">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://www.shinchangfood.com">
		<meta property="og:title" content="[순대공장 신창식품&amp;신토리 - 홈] 순대공장,순대제조,신창식품,아바이순대,순대,순대국재료,순대국육수,순대국창업">
		<meta property="og:image" content="image-real/character.png' | relative_url }} ">
		<meta name="twitter:image" content="image-real/character.png' | relative_url }} ">	  
		<title>홈 | 순대공장 신창식품&amp;신토리</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ '/static/css/section04.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/static/css/section04_mobile_736.css' | relative_url }}">
	</head>
	<body class="is-preload">

			<!-- Header -->
			<section id="header">
				{% include header.html %}
			</section>

			<div id="wrapper">
				<!-- Main -->
				<div id="main">
					<section id="zero">
						<div class="preview main">
							<a href="/">순대공장 신창식품&amp;신토리</a>
						</div>
					</section>
					<!-- One -->
					<section id="one">
						<div class="container preview">
							<a href="/section04/' | relative_url }}" class="major">
								<h2>바자회 순대</h2>
							</a>
							<p class="explain">
								<strong>[바자회순대] [교회 바자회순대] [군대 행사순대] </strong>								
								HACCP 인증 받은 맛있는 순대 제품을 추천해드립니다.
								<br />저희는 작년 봄에 지인소개로 순대공장 신창식품&신토리 "순대"로 아파트 바자회를 했었는데요. 오셨던 손님들이 모두들 순대맛이 넘 맛있다고 하셔서 즐거운 마음으로 행사를 마친 적이 있어,이번 가을에도 바자회 행사때 이곳에서 또 주문을 했어요.
								<br />오신 분들중에 인근 아파트 부녀 회장님이나,인근 교회 임원분들도 순대가 너무 맛있다고 하시면서 그곳 바자회 할때도 순대 주문을 여기서 해야 겠다고 소개를 해달라고 하셔서 알려드렸지요.
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section04/01.png' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>찰순대 2kg. HACCP 인증</strong>								
								바자회,교회바자회,군대행사에 주로 쓰이는 순대입니다. 신창식품&신토리 찰순대 내용물에는 당면과 야채도 있었지만 제일 기억에 남았던 건 찰떡이 들어있어 그런지 더 쫀득쫀득하고 맛있었어요.!
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section04/02.png' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>아바이백순대 2kg. HACCP 인증</strong>								
								순대국집에서 모듬용이라고 하죠...,신창식품 순대공장 에서 유일하게 선지를 뺀 "아바이백순대"라고 합니다. 고기,야채,두부,계란이 함유되어 있는 고급순대이죠.
								<br /> 담백한 맛이 어른들도 맛나게 드시지만 아이들에게 영양 간식으로 이 백순대를 추천 할만도 하네요. 그리고 우리 부모님들 연로하셔서 기운이 없을때 영양가 있는 아바이백순대 적극 추천해 드립니다. 
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section04/03.png' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>청양순대 2kg. HACCP 인증</strong>								
								순대공장 신창식품 청양순대 입니다. 시식을 해 본 맛은 땡초 처럼 엄청 매울줄 알았는데 그게 아니더군요. 우리 입맛에 맞게 매콤하더라구요. 찰순대에 길들인 입맛에 청양순대를 먹어본 봐로는 당연 색다르고 한국인 입맛에 적합한 순대인것 같습니다.
								<br /> 바자회순대에 청양순대도 같이 써보세요. 오시는 분들도 정말 맛있다고 들 할거에요. 순대공장 신창식품 [바자회순대] 제품을 받고 다들 맛있다고 칭찬을 해주셔서 즐거운 마음으로 행사 마무리 했네요. 
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section04/04.png' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>아바이왕순대 2kg. HACCP 인증</strong>								
								모든 순대에 순대창이 소창인데 반해 신창식품 순대공장 "아바이왕순대"는 순대창이 대창입니다. 일반 순대창보다 좀 두터워요 더 찌거나 삶으셔야 해요. 찹쌀과 각종야채,고기,두부,계란으로 제조된 고급순대입니다.
								<br /> 오셨던 어르신들이 많이 드셔 보셨던 순대라고 옛날 어렸을때 할머니가 해 주신 순대맛 하고 같다고 그리워 하시더라구요. 마음이 짠 했어요. 저희 할머니,할아버지 생각이 나서요. 바자회 때나 교회바자회 때 어르신분들이 많이 오시는데는 아바이왕순대를 써 보시는것도 좋으실 것 같아요. 
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section04/05.png' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>간 부산물. HACCP 인증</strong>								
								[바자회순대]에는 필히 내장을 쓰셔야 겠지요.! 
								<br>간 부속물입니다. (간,허파,오소리,염통) 각 1개씩 진공 되어있는 셋트 입니다. 순대 6kg(3봉지)에 부산물 1셋트가 비율이 맞네요. 순대공장 신창식품 사장님께서 이렇게 권유해 주셨는데 진짜루 비율이 맞더라구요. 감사요!! 
							</p>

							<div class="spaceHeight"></div>
							
							{% include bannerAndSign.html %}
						</div>
					</section>
					<!-- Footer -->
					{% include footer.html %}
			</div>
			
			<div id="fullscreenModal" onclick="hideFullscreen()" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.9); justify-content: center; align-items: center; z-index: 9999; padding: 1rem; box-sizing: border-box;">
				<img id="fullscreenImage"/>
			</div>
		<!-- Scripts -->
		<script src="{{ '/static/js/jquery.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/jquery.scrollex.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/jquery.scrolly.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/browser.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/breakpoints.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/util.js' | relative_url }}"></script>
		<script src="{{ '/static/js/main.js' | relative_url }}"></script>
		<script src="{{ '/static/js/make.js' | relative_url }}"></script>
	</body>
</html>