---
---
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="referrer" content="always">
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="순대공장 신창식품&amp;신토리">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://www.shinchangfood.com">
		<meta property="og:title" content="[순대공장 신창식품&amp;신토리 - 홈] 순대공장,순대제조,신창식품,아바이순대,순대,순대국재료,순대국육수,순대국창업">
		<meta property="og:image" content="{{ '/static/image/character.png' | absolute_url }}">
		<meta name="twitter:image" content="{{ '/static/image/character.png' | absolute_url }}">	  
		<title>홈 | 순대공장 신창식품&amp;신토리</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ '/static/css/section03.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/static/css/section03_mobile_736.css' | relative_url }}">
	</head>
	<body class="is-preload">

			<!-- Header -->
			<section id="header">
				{% include header.html %}
			</section>

			<div id="wrapper">
				<!-- Main -->
				<div id="main">
					<section id="zero">
						<div class="preview main">
							<a href="/">순대공장 신창식품&amp;신토리</a>
						</div>
					</section>
					<!-- One -->
					<section id="one">
						<div class="container preview">
							<a href="/section03/' | relative_url }}" class="major">
								<h2>순대 제품/순대공장</h2>
							</a>

							<div class="img1Container">
								<img src="{{ '/static/image/section03/01.jpeg' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>찰순대 2kg. HACCP 인증</strong>
								찹쌀,각종야채,당면,선지가 함유된 누구나 부담없이 드실수 있는 순대입니다.
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section03/02.jpeg' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>토종순대 2kg. HACCP 인증</strong>								
								찹쌀,야채,고기,선지가 함유된 담백하며 국밥집에서 순댓국에 쓰이는 순대입니다.
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section03/03.jpeg' | relative_url }} ">
							</div>
							<p class="explain">								
								<strong>병천순대(파주토종순대) 2kg. HACCP 인증</strong>
								찹쌀,고기,선지,특히 야채가 더 함유된 체인점 및 국밥집에서 쓰이는 순대입니다.
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section03/04.jpeg' | relative_url }} ">
							</div>
							<p class="explain">								
								<strong>토속순대 2kg. HACCP 인증</strong>
								찹쌀,각종야채,고기,선지가 함유된 고기순대중 순댓국 전용으로 쓰이는 순대입니다.
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section03/06.jpeg' | relative_url }} ">
							</div>
							<p class="explain">								
								<strong>청양순대 2kg. HACCP 인증</strong>
								찹쌀과 각종야채,고기등 특히 청양고추가 함유,매콤한 맛을 자랑하는 고급순대입니다.
							</p>

							<div class="img1Container">
								<img src="{{ '/static/image/section03/05.jpeg' | relative_url }} ">
							</div>
							<p class="explain">								
								<strong>아바이백순대 2kg. HACCP 인증</strong>
								찹쌀,야채,고기,두부,계란등 유일하게 선지가 첨가되지 않아 모듬순대로 적합합니다.
							</p>

							<div class="spaceHeight"></div>
							
							{% include bannerAndSign.html %}
						</div>
					</section>
					<!-- Footer -->
					{% include footer.html %}
			</div>
			
			<div id="fullscreenModal" onclick="hideFullscreen()" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.9); justify-content: center; align-items: center; z-index: 9999; padding: 1rem; box-sizing: border-box;">
				<img id="fullscreenImage"/>
			</div>
		<!-- Scripts -->
		<script src="{{ '/static/js/jquery.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/jquery.scrollex.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/jquery.scrolly.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/browser.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/breakpoints.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/util.js' | relative_url }}"></script>
		<script src="{{ '/static/js/main.js' | relative_url }}"></script>
		<script src="{{ '/static/js/make.js' | relative_url }}"></script>
	</body>
</html>