---
---
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="referrer" content="always">
		<meta property="og:type" content="article">
		<meta property="og:site_name" content="순대공장 신창식품&amp;신토리">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://www.shinchangfood.com">
		<meta property="og:title" content="[순대공장 신창식품&amp;신토리 - 홈] 순대공장,순대제조,신창식품,아바이순대,순대,순대국재료,순대국육수,순대국창업">
		<meta property="og:image" content="{{ '/static/image/character.png' | absolute_url }}">
		<meta name="twitter:image" content="{{ '/static/image/character.png' | absolute_url }}">	  
		<title>홈 | 순대공장 신창식품&amp;신토리</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ '/static/css/section08.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/static/css/section08_mobile_736.css' | relative_url }}">
	</head>
	<body class="is-preload">

			<!-- Header -->
			<section id="header">
				{% include header.html %}
			</section>

			<div id="wrapper">
				<!-- Main -->
				<div id="main">
					<section id="zero">
						<div class="preview main">
							<a href="/">순대공장 신창식품&amp;신토리</a>
						</div>
					</section>
					<!-- One -->
					<section id="one">
						<div class="container preview">
							<a href="{{ '/section08' | relative_url }}" class="major">
								<h2>돈골육수/순대국 육수</h2>
							</a>
							<div class="img1Container">
								<img src="{{ '/static/image/section08/01.jpeg' | relative_url }} ">
							</div>
							<p class="explain">
								<strong>★ 돈골육수 b : 순대국 육수 ★</strong>								
								돼지사골과 소사골 뼈에서 추출한 순수 농축액으로 돈골육수 b 입니다.
								<br />처음 끓기전까지는 센불로 끓이시고,끓고 나서는 약불로 10분간만 더 끓여 주심 됩니다.
								<br />개봉 후 변질될 우려가 있으니 가급적 바로 사용하시는 것이 좋아요.
								<br />희석 기본 배합은 육수1kg+물17kg입니다.
							</p>

							<div class="img3Container">
								<img src="{{ '/static/image/section08/02.jpeg' | relative_url }} ">
								<img src="{{ '/static/image/section08/03.jpeg' | relative_url }} ">
								<img src="{{ '/static/image/section08/04.jpeg' | relative_url }} ">
							</div>
							<p class="explain">
								국밥집에서 순대국육수로 사용하지만 라멘집,김치찌개 전문점에서도 육수로 사용하며 떡국,전골육수 등 다양하게 쓰이는 깊고 진한 맛 돈골육수 입니다.
							</p>
							<div class="spaceHeight"></div>
							
							{% include bannerAndSign.html %}
						</div>
					</section>
					<!-- Footer -->
					{% include footer.html %}
			</div>
			
			<div id="fullscreenModal" onclick="hideFullscreen()" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.9); justify-content: center; align-items: center; z-index: 9999; padding: 1rem; box-sizing: border-box;">
				<img id="fullscreenImage"/>
			</div>
		<!-- Scripts -->
		<script src="{{ '/static/js/jquery.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/jquery.scrollex.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/jquery.scrolly.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/browser.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/breakpoints.min.js' | relative_url }}"></script>
		<script src="{{ '/static/js/util.js' | relative_url }}"></script>
		<script src="{{ '/static/js/main.js' | relative_url }}"></script>
		<script src="{{ '/static/js/make.js' | relative_url }}"></script>
	</body>
</html>