<div class="img1Container">
	<img src="{{ '/static/image/banner.png' | relative_url }} ">
</div>
<p class="explain">
	매스컴이 소개한 순대공장 신창식품
	<br/>KBS-TV 방영 생생정보통 2014년 1월15일 방영!
</p>

<p class="finalMent">
	맛있는 순대와 순대국 재료 일절,신선한 부산물을 찾고 계신다면 주말,공휴일 언제든지 편하게 전화주셔서 상담 받아보세요. 순대납품,순대도매 및 업종변경이나 창업상담 환영합니다.
	<br /><br />☎️ 대표전화 : 1533-6156
</p>
<a href="tel:1533-6156" class="callBtn"><img src="{{ '/static/image/icon/call_icon_white.png' | relative_url }} "> 제품 문의 전화상담</a>
<a class="img1Container endPage" href="tel:010-7136-8857">
  <picture>
    <source media="(max-width: 768px)" srcset="{{'/static/image/sign_mobile.png' | relative_url }} ">
    <img class="no-zoom" src="{{ '/static/image/sign.png" alt="명함 이미지" />
  </picture>
</a>